body {
    background-image: url("https://4kwallpapers.com/images/wallpapers/cypher-valorant-pc-games-2021-3840x2160-5536.png");
  }
  
a {
    color: red;
}
    /* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: purple;
}

/* selected link */
a:active {
  color: blue;
  }
  button {
  background-color: #8f1f99; /* Green */
  border: none;
  color: rgb(15, 1, 1);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button {
  background-color: rgb(255, 5, 255); 
  color: black; 
  border: 2px solid #9b2a8c;
}

.button:hover {
  background-color: #f50a64;
  color: white;
}

{}
.search {
padding: 10px;
color: black;
border-radius: 4px;
display: flex;
align-items: center;
}
.search :is(input,button) {
  color:inherit;
  border: none;
}
.search__input {
  width: 0;
  transition: width .5s;
}
.search__btn {
  width:25px;
  height: 25px;
  display: grid;
  place-items: center;
}
.search:focus-within input{
  width: 200px;
}
::placeholder{
  color: inherit;
}

