#w3{
    background:linear-gradient(to bottom, #5233ff 0%, #ffad99 100%);;
}
#w2{
    background:linear-gradient(to bottom, #f70e06 0%, #f18b72 100%);;
}
#w1{
    background:linear-gradient(to bottom, #7c6dd1 0%, #1321ee 100%);;
}
#w5{
    padding-left: 0%;
    
}